
cl.ucn.felix.biblioteca.servicio/target/maven-bundle-plugin/org.apache.felix_maven-bundle-plugin_manifest_xx
cl.ucn.felix.biblioteca.servicio/target/maven-bundle-plugin/org.apache.felix_maven-bundle-plugin_manifest_xx
*.felix_maven-bundle-plugin_manifest_xx
cl.ucn.felix.biblioteca.servicio/target/classes/cl/ucn/felix/biblioteca/servicio/api/ServicioInventarioLibroImpl.class
cl.ucn.felix.biblioteca.servicio/target/maven-bundle-plugin/org.apache.felix_maven-bundle-plugin_manifest_xx
cl.ucn.felix.biblioteca.api/META-INF/MANIFEST.MF
cl.ucn.felix.biblioteca.api.impl/META-INF/MANIFEST.MF
cl.ucn.felix.biblioteca.servicio/META-INF/MANIFEST.MF
cl.ucn.felix.biblioteca.servicio/target/classes/cl/ucn/felix/biblioteca/servicio/api/ServicioInventarioLibroImpl.class
cl.ucn.felix.biblioteca.servicio/target/maven-bundle-plugin/org.apache.felix_maven-bundle-plugin_manifest_xx
